<section data-ng-controller="StusController">
	<div class="page-header">
		<h1>添加学生</h1>
	</div>
	<div class="col-md-12">
		<form name="stuForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': stuForm.stu_name.$dirty && stuForm.stu_name.$invalid }">
					<label class="control-label" for="stu_name">学生姓名</label>
					<div class="controls">
						<input name="stu_name" type="text" data-ng-model="stu_name" id="stu_name" class="form-control" placeholder="姓名" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="stu_password">密码</label>
					<div class="controls">
						<textarea name="stu_password" data-ng-model="stu_password" id="stu_password" class="form-control" cols="30" rows="10" placeholder="密码"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>