<section data-ng-controller="ExamsController" data-ng-init="find()">
	<div class="page-header">
		<h1>未完成考试</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="exam in exams" data-ng-href="#!/exams/{{exam._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="exam.exam_name | date:'mediumDate'"></span>
				by
				<span data-ng-bind="exam.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="exam.exam_name"></h4>
			<p class="list-group-item-text" data-ng-bind="exam.exam_password"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="exams.$resolved && !exams.length">
		No exams yet, why don't you <a href="/#!/exams/create">create one</a>?
	</div>
</section>